rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /claims/{claimId} {
      allow read: if true;
      allow write: if request.auth != null && isAdmin();
    }

    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true;
    }
  }
}
